@charset "UTF-8";
.bo{
    padding: 4rem;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.con-hea{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    text-align: center;
    font-size: 3rem;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --tw-text-opacity: 1;
    color: rgb(251 146 60 / var(--tw-text-opacity));
}
.he1{
    margin-left: 2px ;
    margin-right: 2px ;
    display: flex;
}
.he2{
    padding-top:  20px ;
    margin: 20px ;
    width:  320px ;
    padding-bottom: 112px ;
    margin-top: 40px ;
    margin-left:  112px ;
    margin-right: 112px ;
    padding:  12px ;
    border-radius:  8px ;
    --tw-text-opacity: 1;
    color: rgb(251 146 60 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    text-align: center;
    font-size:  24px ;
    line-height:  32px ;
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
.img1{
    border-radius: 999px;
    padding: 2.5rem/* 40px */;

}
.name1{
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
}
.cont1{
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    margin-top: 1rem/* 16px */;
}