@charset "UTF-8";
@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54058.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

.container {
  position: relative;
  width: 360px;
  height: 400px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  animation:fadeIn 0.1s forwards 0.2s ;
  
}

.user-box {
  position: relative;
  margin-bottom: 20px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #888;
  outline: none;
  background: transparent;
  z-index: 2;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #888;
  pointer-events: none;
  outline: none;
  z-index: 1;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  font-size: 15px;
  color: white;
  outline: none;
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
